<h2> Pandas, Data Science, and IMQAV</h2>
<ul>
    <li>Ingest</li>
    <li>Model</li>
    <li>Query</li>
    <li>Analyze</li>
    <li>Visualize</li>
</ul>

Data analysis using python

In [32]:
import pandas as pd

df1 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2001, 2002, 2003, 2004])

df2 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Int_rate':[2, 3, 2, 2],
                    'US_GDP_Thousands':[50, 55, 65, 55]},
                   index = [2005, 2006, 2007, 2008])

df3 = pd.DataFrame({'HPI':[80,85,88,85],
                    'Unemployment':[7, 8, 9, 6],
                    'Low_tier_HPI':[50, 52, 50, 53]},
                   index = [2001, 2002, 2003, 2004])

```
df1.merge(df3, on='col_name', how='inner')  
df1.set_index('col_name')
```
Join is index based while merge is not index based

In [46]:
df1.join(df3, rsuffix='_df3') # Join is index based

      HPI  Int_rate  US_GDP_Thousands  HPI_df3  Unemployment  Low_tier_HPI
2001   80         2                50       80             7            50
2002   85         3                55       85             8            52
2003   88         2                65       88             9            50
2004   85         2                55       85             6            53

In [49]:
df1.conncat(df2)

AttributeError: 'DataFrame' object has no attribute 'conncat'

In [20]:
merged = df1.merge(df2, how='inner', on='HPI')
merged

   HPI  Int_rate_x  US_GDP_Thousands_x  Int_rate_y  US_GDP_Thousands_y
0   80           2                  50           2                  50
1   85           3                  55           3                  55
2   85           3                  55           2                  55
3   85           2                  55           3                  55
4   85           2                  55           2                  55
5   88           2                  65           2                  65

In [21]:
merged

   HPI  Int_rate_x  US_GDP_Thousands_x  Int_rate_y  US_GDP_Thousands_y
0   80           2                  50           2                  50
1   85           3                  55           3                  55
2   85           3                  55           2                  55
3   85           2                  55           3                  55
4   85           2                  55           2                  55
5   88           2                  65           2                  65

## Join

In [29]:
df1.join(df3, on=['HPI']) # on should be from the left table

     Int_rate  US_GDP_Thousands  Unemployment  Low_tier_HPI
HPI
80          2                50             7            50
85          3                55             8            52
85          3                55             6            53
88          2                65             9            50
85          2                55             8            52
85          2                55             6            53

Python 
```
df1.join(df3 on='left_table_col', how='inner', rsuffix='_right_table_name')
```

In [24]:
pd.merge(left=df1, right=df2, 
         how='inner', 
         on=['col_one', 'col_two'])

     Unemployment  Low_tier_HPI
HPI
80              7            50
85              8            52
88              9            50
85              6            53

In [27]:
df1.merge(right=df2, how='inner',
          on='col_one')

     Int_rate  US_GDP_Thousands
HPI
80          2                50
85          3                55
88          2                65
85          2                55

In [57]:
np.logical_and(df['col_one']=="hello", df['col_two']==df['col_two'].notnull())

NameError: name 'df' is not defined

In [65]:
df1.groupby(df1['Int_rate']).count(df['col_two'])

          HPI  US_GDP_Thousands
Int_rate
2           3                 3
3           1                 1