### Pre-defined lists

In [9]:
names = ['Untied States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
dr = [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
row_labels = ['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']

In [15]:
import pandas as pd
cars_dict = {'Country':names, 'drives_right':dr, 'Cars_per_cap':cpc, }
cars = pd.DataFrame(cars_dict, index=row_labels) # or we can and index by cars.index = row_labels
cars

           Country  drives_right  Cars_per_cap
US   Untied States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morocco          True            70
EG           Egypt          True            45

In [16]:
cars.iloc[2:4,0:2]

    Country  drives_right
JPN   Japan         False
IN    India         False

In [48]:
cars.loc[cars['Country'].str.contains('p')]
# data.loc[data['Type 1'].str.contains('Fire|Grass', flags=re.I, regex=True)].head()

    Country  drives_right  Cars_per_cap
JPN   Japan         False           588
EG    Egypt          True            45

In [57]:
cars['Economic_rank'] = cars['Cars_per_cap'].apply(lambda x: 'low' if x <100 else ('medium' if x<500 else 'high'))
cars

           Country  drives_right  Cars_per_cap Economic_rank
US   Untied States          True           809          high
AUS      Australia         False           731          high
JPN          Japan         False           588          high
IN           India         False            18           low
RU          Russia          True           200        medium
MOR        Morocco          True            70           low
EG           Egypt          True            45           low

### Changing column value by filter

In [61]:
cars.loc[cars['Cars_per_cap'] > 600, 'Economic_rank'] = 'Very Well'
cars

           Country  drives_right  Cars_per_cap Economic_rank
US   Untied States          True           809     Very Well
AUS      Australia         False           731     Very Well
JPN          Japan         False           588          high
IN           India         False            18           low
RU          Russia          True           200        medium
MOR        Morocco          True            70           low
EG           Egypt          True            45           low

In [69]:
cars.loc[cars['Cars_per_cap'] < 20, ['Country', 'Economic_rank']] = ['China', 'Very Low']
# cars.loc[cars['Cars_per_cap']==18] # alternative
cars

           Country  drives_right  Cars_per_cap Economic_rank
US   Untied States          True           809     Very Well
AUS      Australia         False           731     Very Well
JPN          Japan         False           588          high
IN           China         False            18      Very Low
RU          Russia          True           200        medium
MOR        Morocco          True            70           low
EG           Egypt          True            45           low

### Iterrows()

In [71]:
for i, j in cars.iterrows():
    print(i, j)

US Country          Untied States
drives_right              True
Cars_per_cap               809
Economic_rank        Very Well
Name: US, dtype: object
AUS Country          Australia
drives_right         False
Cars_per_cap           731
Economic_rank    Very Well
Name: AUS, dtype: object
JPN Country          Japan
drives_right     False
Cars_per_cap       588
Economic_rank     high
Name: JPN, dtype: object
IN Country             China
drives_right        False
Cars_per_cap           18
Economic_rank    Very Low
Name: IN, dtype: object
RU Country          Russia
drives_right       True
Cars_per_cap        200
Economic_rank    medium
Name: RU, dtype: object
MOR Country          Morocco
drives_right        True
Cars_per_cap          70
Economic_rank        low
Name: MOR, dtype: object
EG Country          Egypt
drives_right      True
Cars_per_cap        45
Economic_rank      low
Name: EG, dtype: object

### Arrays

In [81]:
import numpy as np
x = np.array([9,5])
y = np.array([16,12])
print(np.logical_not(y>12))
print(np.logical_and(x<6, y>16)) #f t,  f f
print(np.logical_not(x<5)) # f f
print(np.logical_or(x<6, y>16)) #f t f f

[False  True]
[False False]
[ True  True]
[False  True]

### max and min

In [92]:
ages = [12, 14, 7, 34, 32, 43]
ages.sort()
print(ages)
sorted_age = sorted(ages)
print(sorted_age)
print('The oldest person is: {}'.format(sorted_age[-1]))
print(f'The youngest person is : {sorted_age[0]}')

[7, 12, 14, 32, 34, 43]
[7, 12, 14, 32, 34, 43]
The oldest person is: 43
The youngest person is : 7

In [96]:
youngest = ages[0]
oldest = ages[0]
for i in ages:
    if i > oldest:
        oldest = i
    if i < youngest:
        youngest = i
print(f'The youngest person is : {youngest}')
print(f'The oldest person is: {oldest}')

The youngest person is : 7
The oldest person is: 43

### Reversing list

In [107]:
nums = list(cars.Cars_per_cap)
rev = nums[::-1]
rev

[45, 70, 200, 18, 588, 731, 809]

In [115]:
rev_list = []
for i in range(1,len(nums)+1):
    rev_list.append(nums[-i])
print(rev_list)

[45, 70, 200, 18, 588, 731, 809]

### Reversing string

In [124]:
word = 'Hello'
rev_word = str()
for i in word:
    rev_word = i.upper() + rev_word
rev_word

'OLLEH'

In [130]:
sentence = "I love you more than I can say, Python"
r_sentence = str()
for i in sentence.split(' '):
    r_sentence = i + ' ' + r_sentence
print(r_sentence)

Python say, can I than more you love I

In [147]:
cars.loc[cars['Country']=='Australia']

       Country  drives_right  Cars_per_cap Economic_rank
AUS  Australia         False           731     Very Well

In [148]:
cars.groupby(['drives_right']).count()

              Country  Cars_per_cap  Economic_rank
drives_right
False               3             3              3
True                4             4              4

In [151]:
cars['Development'] = cars['Country'].apply(lambda name: 'Dev' if name in ['Untied States'] else 'Under')
cars

           Country  drives_right  Cars_per_cap Economic_rank Development
US   Untied States          True           809     Very Well         Dev
AUS      Australia         False           731     Very Well       Under
JPN          Japan         False           588          high       Under
IN           China         False            18      Very Low       Under
RU          Russia          True           200        medium       Under
MOR        Morocco          True            70           low       Under
EG           Egypt          True            45           low       Under

In [154]:
name_dict = {'sis':32, 'GBB':34, 'Abel':33,}
df = pd.DataFrame(name_dict, index=['la','ke','ml'])
df.groupby('')

    sis  GBB  Abel
la   32   34    33
ke   32   34    33
ml   32   34    33

In [162]:
cars.loc[['JPN','EG'],['Country','Development']]

    Country Development
JPN   Japan       Under
EG    Egypt       Under

I didn't know this! this is a beauty of pandas

In [189]:
print(type(cars.loc['MOR'])) # this is a series
print(type(cars.loc[['MOR']])) # this is a dataframe
cars.loc['MOR', 'drives_right'] # this is a value

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

True

In [183]:
cars[cars.index=='MOR']['drives_right']

MOR    True
Name: drives_right, dtype: bool

In [203]:
print(cars.loc['MOR','Cars_per_cap'])
# alternatively 
print(cars['Cars_per_cap']['MOR'])

70
70

In [214]:
cars.loc[:,'drives_right']
cars['drives_right']
# those two are the same

US      True
AUS    False
JPN    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool

In [224]:
cars.loc[:,['drives_right']]
cars[['drives_right']]
# those two codes are the same

     drives_right
US           True
AUS         False
JPN         False
IN          False
RU           True
MOR          True
EG           True

change Egypt information to Ethiopia

In [237]:
cars.loc[cars['Country']=='Egypt', ['Country', 'Cars_per_cap']] = ['Ethiopia', 30]

In [280]:
lst = list(cars.index) #list(cars.index('EG')) to get index number
lst[-1] = 'ET'
cars.index=lst
cars

           Country  drives_right  Cars_per_cap Economic_rank Development
US   Untied States          True           809     Very Well         Dev
AUS      Australia         False           731     Very Well       Under
JPN          Japan         False           588          high       Under
IN           China         False            18      Very Low       Under
RU          Russia          True           200        medium       Under
MOR        Morocco          True            70           low       Under
ET        Ethiopia          True            30           low       Under

In [277]:
lst

['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'ET']